body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.photo-gallery {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    opacity: 0.7;
}


.caption {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s;
}

.photo-gallery:hover {
	opacity: 1.0;
}

.photo {
    width: 500px;
    height: auto;
}

.photo + p {
	text-align: center;
	visibility: hidden;
}

.photo-gallery:hover p {
	visibility: visible;
}


