
body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
    text-align: center;
}

header {
    margin-top: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.resume-container {
    width: 800px; 
    margin: 0 auto; 
    background-image: url('https://media.istockphoto.com/id/1265127830/vector/japanese-paper-like-background-image.jpg?s=612x612&w=0&k=20&c=jdcfnRxRgCSeppka2Uvzcj97kuDbuuZMoBjtEZjWh2Y='); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: #fff; 
}

section h2 {
    font-size: 24px;
}

section img.right-image {
    float: right;
    margin-left: 10px; 
    width: 200px; 
    height: auto; 
}

.right-image + p {
    clear: right;
}

section p {
    font-size: 18px; 
}

