
body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
    text-align: center;
}

header {
    margin-top: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.resume-container {
    width: 1000px; 
    margin: 0 auto; 
    background-image: url('https://png.pngtree.com/background/20210706/original/pngtree-roses-romantic-vintage-paper-background-picture-image_27531.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    box-sizing: border-box;

}

section h2 {
    font-size: 24px;
}

section img.right-image {
    float: right;
    margin-left: 10px; 
    width: 200px; 
    height: auto; 
}
