
body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
    text-align: center;
}

header {
    margin-top: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.resume-container {
    width: 800px; 
    margin: 0 auto; 
    background-image: url(''); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: #fff; 
}
