body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-image: url('img/header-image.jpeg'); 
    background-size: cover;
    text-align: center;
    padding: 20px;
    color: white;
}

.calendar {
    width: 80%; 
    border-collapse: collapse;
    margin-top: 20px; 
}

.calendar th, .calendar td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    width: 14.28%; 
}

.calendar .date {
    position: absolute;
    top: 5px;
    right: 5px;
}

.Birthday {
    background-image: url('img/birthday.jpeg');
    background-color: #ffcccb; 
    font-weight: bold;
}

.MLK {
    background-image: url('img/MLK.jpeg');
    background-size: cover;
    color: white;
    font-weight: bold;
}

.Lunar {
    background-image: url('img/Lunar_New_Year.jpeg'); 
    background-size: cover;
    color: white;
    font-weight: bold;
}

