body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding: 100px 0;
}

h1 {
    font-size: 36px;
    color: black;
}

.container {
    flex: 1;
    max-width: 1100px;
    color: black;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

img {
    max-width: 50%; 
    height: auto; 
    max-height: 150px;
    float: right;
    margin-left: 20px; 
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
}
