html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('img/interview.jpg') no-repeat center center fixed; 
    background-size: cover;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.content-block {
    background-color: rgba(255, 255, 255, 0.6); 
    width: 30%;
    margin: 10px;
    position: relative;
    /* Ensure the content blocks are square */
    padding-top: 30%; /* This percentage will be relative to the width */
    box-sizing: border-box;
}

.content-block h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #123456;
}

.content-block:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .content-container {
        flex-direction: column;
    }
    .content-block {
        width: auto;
        padding-top: 20%; 
    }
}
